.registerMessage {
	padding: 1.1rem;
	text-align: center;

	.boxReadyAccount {
		margin-top: 4rem;
	}
	.great {
		color: #4c42f6;
		font-size:34px;
		line-height:140%;
		font-weight: 700;
		padding-top: 2rem;
	}

	.readyAccount {
		font-size:24px;
		line-height:140%;
		font-weight: 400;
	}
}
