@font-face {
  font-family: 'icomoon';
  src: url('https://www.dev.sumerlabs.com/dev/assets/web/fonts/icomoon.eot') format('embedded-opentype'), 
    url('https://www.dev.sumerlabs.com/dev/assets/web/fonts/icomoon.ttf') format('ttf'),
    url('https://www.dev.sumerlabs.com/dev/assets/web/fonts/icomoon.woff') format('woff'),
    url('https://www.dev.sumerlabs.com/dev/assets/web/fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@import url('./icons.css');