@font-face {
  font-family: 'icomoon';
  src: url('/prod/assets/web/fonts/icomoon.eot') format('embedded-opentype'),
    url('/prod/assets/web/fonts/icomoon.ttf') format('ttf'),
    url('/prod/assets/web/fonts/icomoon.woff') format('woff'),
    url('/prod/assets/web/fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
};

