@font-face {
  font-family: 'icomoon';
  src: url('https://sumer-s3-database.s3.us-west-2.amazonaws.com/dev/assets/web/fonts/icomoon.eot') format('embedded-opentype'), 
    url('https://sumer-s3-database.s3.us-west-2.amazonaws.com/dev/assets/web/fonts/icomoon.ttf') format('ttf'),
    url('https://sumer-s3-database.s3.us-west-2.amazonaws.com/dev/assets/web/fonts/icomoon.woff') format('woff'),
    url('https://sumer-s3-database.s3.us-west-2.amazonaws.com/dev/assets/web/fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-android:before {
  content: "\e91f";
}
.icon-apple:before {
  content: "\e924";
}
.icon-four-points:before {
  content: "\e925";
}
.icon-youtube:before {
  content: "\e91e";
}
.icon-linked-in:before {
  content: "\e920";
}
.icon-tiktok:before {
  content: "\e921";
}
.icon-instagram:before {
  content: "\e922";
}
.icon-facebook:before {
  content: "\e923";
}
.icon-trophy:before {
  content: "\e91a";
}
.icon-book-open:before {
  content: "\e91b";
}
.icon-pencil:before {
  content: "\e91c";
}
.icon-question-support:before {
  content: "\e91d";
}
.icon-credit-card:before {
  content: "\e919";
}
.icon-refresh:before {
  content: "\e917";
}
.icon-arrows-left-right:before {
  content: "\e918";
}
.icon-cash:before {
  content: "\e916";
}
.icon-trash:before {
  content: "\e907";
}
.icon-minus:before {
  content: "\e908";
}
.icon-plus-2:before {
  content: "\e909";
}
.icon-headset-mic:before {
  content: "\e901";
}
.icon-bubble-chat:before {
  content: "\e902";
}
.icon-share:before {
  content: "\e903";
}
.icon-close:before {
  content: "\e904";
}
.icon-check:before {
  content: "\e905";
}
.icon-user:before {
  content: "\e906";
}
.icon-plus:before {
  content: "\e90a";
}
.icon-arrow-3:before {
  content: "\e90b";
}
.icon-arrow-2:before {
  content: "\e90c";
}
.icon-arrow:before {
  content: "\e90d";
}
.icon-hide-password:before {
  content: "\e90e";
}
.icon-show-password:before {
  content: "\e90f";
}
.icon-squares:before {
  content: "\e910";
}
.icon-bullets-list:before {
  content: "\e911";
}
.icon-search:before {
  content: "\e912";
}
.icon-circle-check:before {
  content: "\e913";
}
.icon-circle-exclamation:before {
  content: "\e914";
}
.icon-burger-menu:before {
  content: "\e900";
}
.icon-shopping-cart:before {
  content: "\e915";
}