[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cart:before {
  content: "\e900";
}
.icon-calendar:before {
  content: "\e901";
}
.icon-expert:before {
  content: "\e902";
}
.icon-burger-menu:before {
  content: "\e903";
}
.icon-headset-mic:before {
  content: "\e904";
}
.icon-bubble-chat:before {
  content: "\e905";
}
.icon-share:before {
  content: "\e906";
}
.icon-close:before {
  content: "\e907";
}
.icon-check:before {
  content: "\e908";
}
.icon-user:before {
  content: "\e909";
}
.icon-trash:before {
  content: "\e90a";
}
.icon-minus:before {
  content: "\e90b";
}
.icon-plus-2:before {
  content: "\e90c";
}
.icon-plus:before {
  content: "\e90d";
}
.icon-arrow-3:before {
  content: "\e90e";
}
.icon-arrow-2:before {
  content: "\e90f";
}
.icon-arrow:before {
  content: "\e910";
}
.icon-hide-password:before {
  content: "\e911";
}
.icon-show-password:before {
  content: "\e912";
}
.icon-squares:before {
  content: "\e913";
}
.icon-bullets-list:before {
  content: "\e914";
}
.icon-search:before {
  content: "\e915";
}
.icon-circle-check:before {
  content: "\e916";
}
.icon-circle-exclamation:before {
  content: "\e917";
}
.icon-shopping-cart:before {
  content: "\e918";
}
.icon-cash:before {
  content: "\e919";
}
.icon-refresh:before {
  content: "\e91a";
}
.icon-arrows-left-right:before {
  content: "\e91b";
}
.icon-credit-card:before {
  content: "\e91c";
}
.icon-trophy:before {
  content: "\e91d";
}
.icon-book-open:before {
  content: "\e91e";
}
.icon-pencil:before {
  content: "\e91f";
}
.icon-question-support:before {
  content: "\e920";
}
.icon-youtube:before {
  content: "\e921";
}
.icon-android:before {
  content: "\e922";
}
.icon-linked-in:before {
  content: "\e923";
}
.icon-tiktok:before {
  content: "\e924";
}
.icon-instagram:before {
  content: "\e925";
}
.icon-facebook:before {
  content: "\e926";
}
.icon-apple:before {
  content: "\e927";
}
.icon-four-points:before {
  content: "\e928";
}
.icon-arrow-line:before {
  content: "\e929";
}
.icon-arrow-bend:before {
  content: "\e92a";
}
.icon-list-more:before {
  content: "\e92c";
}
.icon-clock:before {
  content: "\e92d";
}
.icon-coupon:before {
  content: "\e92e";
}
.icon-truck:before {
  content: "\e92f";
}
.icon-email-fill:before {
  content: "\e930";
}
.icon-eye:before {
  content: "\e931";
}
.icon-facebook-circle-outline:before {
  content: "\e932";
}
.icon-ascendant:before {
  content: "\e933";
}
.icon-grid:before {
  content: "\e934";
}
.icon-question:before {
  content: "\e935";
}
.icon-head-phones:before {
  content: "\e936";
}
.icon-whatsapp-color:before {
  content: "\e937";
}
.icon-instagram-circle-outline:before {
  content: "\e938";
}
.icon-link-share:before {
  content: "\e939";
}
.icon-list:before {
  content: "\e93a";
}
.icon-store:before {
  content: "\e93b";
}
.icon-order:before {
  content: "\e93d";
}
.icon-phone:before {
  content: "\e93e";
}
.icon-play-circle:before {
  content: "\e93f";
}
.icon-percentage-fill-stroke:before {
  content: "\e940";
}
.icon-question-circle:before {
  content: "\e941";
}
.icon-share-outline:before {
  content: "\e942";
}
.icon-star-fill:before {
  content: "\e944";
}
.icon-build:before {
  content: "\e945";
}
.icon-support:before {
  content: "\e946";
}
.icon-talk:before {
  content: "\e94c";
}
.icon-arrow-top:before {
  content: "\e951";
}
.icon-trash-outline:before {
  content: "\e952";
}
.icon-facebook-outline:before {
  content: "\e92b";
}
.icon-instagram-outline:before {
  content: "\e93c";
}
.icon-twitter-online:before {
  content: "\e943";
}
.icon-location-outline:before {
  content: "\e947";
}
.icon-box-circle-color .path1:before {
  content: "\e948";
  color: rgb(138, 67, 245);
}
.icon-box-circle-color .path2:before {
  content: "\e949";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-box-circle-color .path3:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-box-circle-color .path4:before {
  content: "\e94b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-box-circle-color .path5:before {
  content: "\e94d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-heart:before {
  content: "\e94e";
}