.registerInApp {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  align-items: center;
  gap: 30px;

  img {
    width: 180px;
    height: 180px;
  }

  .sumerLogo {
    width: 132px;
    height: 138px;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
  }

  .exclamation {
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
  }

  .downloadText {
    padding-top: .5rem;
  }
}
